.inner-pages .blog-section .news-item a:hover h3,
.inner-pages .blog-section .news-item .date,
.inner-pages .blog-section .action-list .fa-comment,
.inner-pages .blog-section .action-list .fa-share-alt,
.inner-pages .blog-section .action-list .fa-heart,
.inner-pages .blog-section .news-link,
.inner-pages .info-img a:hover,
.inner-pages .recent-post ul li a:hover,
.inner-pages .info-img a:hover,
.inner-pages .comments-info h5,
.inner-pages .social-share a,
.inner-pages .recent-post ul li a:hover,
.inner-pages .recent-post .tags a:hover,
.inner-pages .input-group-btn .btn-primary:hover,
.inner-pages .leve-comments .btn {
  color: #f55d2c !important;
}

.section-title h2,
.recently .homes-content .homes-list li,
.recently .homes-content .homes-list li i,
#navigation.style-1 .current,
.twitter-widget.contuct .twitter-area .text h5 a,
.first-footer .contactus ul li .fa,
.welcome-title h2 span,
.welcome-title h2 span,
.welcome .popup-youtube,
.portfolio .homes-content .homes-list li,
.portfolio .homes-content .homes-list li i,
.testimonials .test-1 p::before,
.testimonials .test-1 h3,
.counterup .countr .fa,
.navigation ul li a:hover,
.twitter-widget.contuct .twitter-area .icon-holder i,
.twitter-widget.contuct .twitter-area .text h4,
.inner-pages .twitter-widget.contuct .twitter-area .text h4,
.text-theme-colored2,
.theme-color,
.parallax-search .form-group .nice-select:hover,
.parallax-search .form-group .nice-select i,
.inner-pages .change-view-btn:hover,
.inner-pages .portfolio .footer i,
.page-link {
  color: #f55d2c !important;
}

.blog-section .news-item a:hover h3,
.blog-section .news-link,
.inner-pages .blog .homes-content.details-2 .fa,
.inner-pages .blog .sorting-options h5,
.inner-pages .recent-post .tags a:hover,
.inner-pages .blog .homes-content h5::after,
.inner-pages .blog .blog-info.details h5::after,
.inner-pages .blog .property-location h5::after,
.inner-pages .blog .team.assigned h5::after,
.inner-pages .blog .homes-content.details .fa,
.inner-pages .agent-details a:hover,
.inner-pages .agent-details .fa,
.inner-pages .about-us .who-1 h2 span,
.inner-pages .input-group-btn .btn-primary:hover,
.inner-pages .comments-info h5 {
  color: #f55d2c !important;
}

.blog .blog-pots .fa,
.inner-pages .top-headings h2,
.blog-section .action-list .fa-comment,
.blog-section .action-list .fa-share-alt,
.blog-section .action-list .fa-heart,
.slick-dots li,
.second-footer p .fa-heart:before,
.portfolio .homes-content h3 a:hover,
.homepage-9 .portfolio .homes-content h3 a:hover,
.homepage-9 .blog-section .news-item h3:hover,
.hp-6 .dropdown-filter span::after,
.hp-6 a.btn.btn-yellow:hover,
.inner-pages.hp-6.full .btn.btn-yellow:hover {
  color: #f55d2c !important;
}

.homepage-3 a.btn.btn-yellow:hover,
.homepage-3 .parallax-searchs .form-group .nice-select i,
.homepage-3 .dropdown-filter span::after,
.homepage-3 .parallax-searchs .form-group .nice-select:hover,
.parallax-searchs .form-group .nice-select i,
.inner-pages.hp-6.full .parallax-searchs .form-group .nice-select:hover,
.inner-pages.hp-6.full .dropdown-filter span::after,
.inner-pages.hp-6.full .btn.btn-yellow:hover,
.inner-pages .headings-2 .listing-title-bar h4,
.sidebar-widget .author__contact li span i,
.widget-boxed-header h4 .fa,
.widget-boxed .input-group .fa {
  color: #f55d2c !important;
}

.homepage-4 .portfolio .homes-content h3 a:hover,
.homepage-4 .blog-section .news-item h3:hover,
div.datedropper.my-style .pick li span,
div.datedropper.my-style .pick-btn,
div.datedropper.my-style .pick-lg-b .pick-wke,
div.datedropper.my-style .pick-y.pick-jump,
.inner-pages .blog .homes-content h5::after,
.inner-pages .blog .blog-info.details h5::after,
.inner-pages .blog .property-location h5::after,
.inner-pages .blog .team.assigned h5::after,
.inner-pages .carousel h5:after {
  color: #f55d2c !important;
}

.wprt-image-video.w50.pro h5:after,
.similar-property h5:after,
.ag-de .blog-section h5:after,
.homepage-4 a.button.border,
a.button,
.homepage-4 .header-image .left .btn-white,
.inner-pages .call-info ul li .fa,
.inner-pages .single-add-property > h3 {
  color: #f55d2c !important;
}

.parallax-searchs .form-group .nice-select:hover {
  color: #fb6a3a;
}

/* background */
.hp-6 .btn,
.homepage-3 .btn:active,
.hp-6 .btn.sApp-btn:before,
.hp-6 .bg-overlay::after,
.hp-6 .benifits-item:after {
  background: linear-gradient(-47deg, #f55d2c 0%, #f55d2c 100%);
}

.page-item.active .page-link,
.inner-pages .input-group-btn .btn-primary,
.page-link:hover,
.inner-pages .recent-post .tags a,
.inner-pages .input-group-btn .btn-primary,
.inner-pages .leve-comments .btn,
.header-top,
#main-menu ul li a:hover,
#main-menu .dropdown-menu a:hover,
.bloq-search input[type="submit"],
.google-maps .filter,
.homepage-4 .slick-prev:hover,
.homepage-4 .slick-next:hover,
.slick-prev.slick-disabled:hover,
.slick-next.slick-disabled:hover,
.first-footer .bloq-email .email input[type="submit"],
#navigation.style-1 ul li:hover,
.first-footer .newsletters h3::after,
a.button.border,
a.button,
.slick-prev:hover,
.slick-next:hover {
  background: #f55d2c !important;
}

.services-home .bg-base,
.services-home a.text-base,
.top-location .owl-theme .owl-nav [class*="owl-"],
.owl-dot.active,
.realhome_form_subscribe button,
.parallax-search .form-group .list li:hover,
.parallax-search .form-group .btn,
.inner-pages .blog .active-view-btn:hover,
.first-footer .btn,
.go-up,
.main-search-field,
.btn-default.btn-theme-colored2:hover,
.theme-background,
.inner-pages .blog .ui-widget.ui-widget-content,
.inner-pages .blog .hvr-bounce-to-right,
.inner-pages .blog .block-heading .change-view-btn.lde:hover,
.inner-pages .blog .section-heading .media .media-left i,
.inner-pages .blog .main-search-field select {
  background: #f55d2c !important;
}

.page-item.active .page-link,
.btn-secondary,
.plan a.btn,
.inner-pages .panel .panel-heading a,
.plan-price,
.inner-pages .port-info .btn,
#login .btn_1,
a.btn_1,
.inner-pages .input-group-btn .btn-primary,
.inner-pages .leve-comments .btn,
.homepage-3 .rld-banner-tab .nav-item a.active,
.homepage-3 .rld-banner-tab .nav-item a:hover,
.homepage-3 .rld-banner-tab .nav-item a.active:before,
.homepage-3 .range-slider .ui-widget-header,
.homepage-3 .checkboxes input[type="checkbox"]:checked + label:before,
.homepage-9 .fd-1 .slick-dots li:after {
  background: #f55d2c !important;
}

.hp-6 .rld-banner-tab .nav-item a.active,
.hp-6 .rld-banner-tab .nav-item a:hover,
.hp-6 .rld-banner-tab .nav-item a.active:before,
.info-help .info-head .info-text .btn-pro,
.ui-widget-header,
.google-maps .filter .button,
.homepage-9 .homes-tag.featured,
.homepage-9.homepage-4 a.button.border,
a.button,
.homepage-9 section.portfolio,
.inner-pages .headings-2 span.category-tag,
.parallax-searchs .form-group .list li:hover,
.homepage-5 .range-slider .ui-widget-header,
.homepage-5 .checkboxes input[type="checkbox"]:checked + label:before,
.th-17 .nav-item a.active,
.th-17 .nav-item a:hover,
.th-17 .nav-item a.active:before,
.th-17 .btn.btn-yellow,
.th-17 .range-slider .ui-widget-header,
.th-17 .checkboxes input[type="checkbox"]:checked + label:before {
  background: #f55d2c !important;
}

.homepage-23 .rld-banner-tab .nav-item a.active,
.homepage-23 .rld-banner-tab .nav-item a:hover,
.homepage-23 .rld-banner-tab .nav-item a.active:before,
.homepage-23 .range-slider .ui-widget-header,
.homepage-23 .checkboxes input[type="checkbox"]:checked + label:before,
.homepage-4 .homes-tag.featured,
.homepage-4 .portfolio .homes-tag.sal,
.inner-pages.homepage-4 .first-footer .navigation h3::after,
.inner-pages.homepage-4 .first-footer .widget h3::after,
.inner-pages.homepage-4 .first-footer .newsletters h3::after,
.inner-pages.homepage-4 .first-footer .bloq-email .email input[type="submit"],
.blog-pots figure,
.inner-pages .contact-us .btn,
.inner-pages.homepage-4 .go-up {
  background: #f55d2c !important;
}

.inner-pages .prperty-submit-button > button {
  background: #f55d2c none repeat scroll 0 0;
}

.single-blog-post .img-box .overlay {
  background: rgba(24, 186, 96, 0.8);
}

.inner-pages .blog .homes-content h5::after,
.inner-pages .blog .blog-info.details h5::after,
.inner-pages .blog .property-location h5::after,
.inner-pages .blog .team.assigned h5::after,
.inner-pages .carousel h5:after,
.wprt-image-video.w50.pro h5:after,
.similar-property h5:after,
.ag-de .blog-section h5:after,
.inner-pages .widget h5::after,
.inner-pages .widget h5::after,
.inner-pages .comments h3::after,
.inner-pages .leve-comments h3::after {
  background-color: #f55d2c !important;
}

.th-8 .range-slider .ui-widget-header,
.section-title:before,
.first-footer .netabout h3::after,
.first-footer .navigation h3::after,
.first-footer .widget h3::after,
.first-footer .contactus h3::after,
.inner-pages .add-review-photos,
.listing-item.compact .listing-badges span,
.swiper-button-prev.swiper-button-white,
.swiper-button-next.swiper-button-white,
.theme-background-color,
.btn-dark.btn-theme-colored {
  background-color: #f55d2c !important;
}

.inner-pages .widget h5::after,
.inner-pages .blog .homes-content h5::after,
.inner-pages .blog .blog-info.details h5::after,
.inner-pages .blog .property-location h5::after,
.inner-pages .blog .team.assigned h5::after,
.inner-pages .button.alt,
.inner-pages .about-us .wprt-image-video .icon-wrap,
.inner-pages .blog .social .date,
.inner-pages .comments h3::after,
.inner-pages .leve-comments h3::after,
.inner-pages .call-info h3::after {
  background-color: #f55d2c !important;
}

.leaflet-div-icon,
.map-marker,
.listing-window-image:before,
.listing-window-content h3,
.btn.btn-outline-light,
.section-title:before,
.slick-dots li:after,
.hp-6 .btn.btn-yellow,
.inner-pages.hp-6.full .btn.btn-yellow,
.hp-6 .range-slider .ui-widget-header,
.hp-6 .checkboxes input[type="checkbox"]:checked + label:before,
.agents a.button.border,
a.button,
.agent-contact-form-sidebar .multiple-send-message,
div.datedropper.my-style .pick-lg-b .pick-sl:before,
div.datedropper.my-style .pick-lg-h,
div.datedropper.my-style .pick-m,
div.datedropper.my-style .pick-submit,
div.datedropper.my-style:before {
  background-color: #f55d2c !important;
}

.nice-select .option:hover {
  background-color: #fb6a3a !important;
}

/* border */
.page-item.active .page-link,
.inner-pages .input-group-btn .btn-primary,
.inner-pages .form-control,
.inner-pages .recent-post .tags a,
.inner-pages .input-group-btn .btn-primary,
.inner-pages .recent-post .tags a:hover {
  border-color: #f55d2c !important;
}

.leaflet-div-icon:before,
.map-marker:before {
  border-top-color: #f55d2c;
}

.bloq-search input[type="text"] {
  border: 1px solid #f55d2c;
}

.realhome_subscribe input {
  border-color: #f55d2c;
}

.realhome_form_subscribe button {
  border: 2px solid #f55d2c;
}

.inner-pages .blog .at-input {
  border: 2px solid #f55d2c;
}

.inner-pages .recent-post .tags a:hover {
  border-color: #f55d2c;
}

.page-item.active .page-link {
  border-color: #f55d2c;
}

.bg-2 .button {
  border-color: #f55d2c;
}

.inner-pages .port-info .btn {
  border: 1px solid #f55d2c;
}

.inner-pages .form-control {
  border: 1px solid #f55d2c;
}

.inner-pages .input-group-btn .btn-primary {
  border: 1px solid #f55d2c;
}

.inner-pages .leve-comments .btn {
  border: 1px solid #f55d2c;
}

.inner-pages .leve-comments .btn:hover {
  border: 1px solid #f55d2c;
}

.inner-pages .contact-us .btn {
  border: 1px solid #f55d2c;
}

.inner-pages .contact-us .btn:hover {
  border: 1px solid #f55d2c;
}

.plan-price:after {
  border-top-color: #f55d2c;
}

.leaflet-div-icon, .map-marker {
  border: 5px solid #f55d2c;
}

.homepage-3 .range-slider .ui-slider .ui-slider-handle {
  border: 2px solid #f55d2c;
}

/* color else */
.page-link:hover,
.inner-pages .recent-post .tags a {
  color: #fff !important;
}

.schedule .input-group-btn:not(:last-child) > .btn:hover,
.input-group-btn:not(:first-child) > .btn:hover,
.schedule .theme-btn,
.theme-btn:focus,
.theme-btn:hover,
.theme-btn:active,
.homepage-4 .homes-tag.featured,
.homepage-4 .portfolio .homes-tag.sale {
  color: #fff;
}

/* bg else */
.inner-pages .recent-post .tags a:hover,
.inner-pages .input-group-btn .btn-primary:hover {
  background: #fff !important;
}
