.container-fluid,
header .container-header,
footer.rec-pro .container-fluid {
    @media screen and (min-width: 992px) {
        max-width: 960px !important;
    }
    @media screen and (min-width: 1025px) {
        max-width: 960px !important;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1140px !important;
    }

    @media screen and (min-width: 1400px) {
        max-width: 1340px !important;
    }
    @media screen and (min-width: 1600px) {
        max-width: 1560px !important;
    }
}
@media screen and (min-width: 1400px) {
    .col-xxl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-xxl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-xxl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xxl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-xxl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-xxl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xxl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-xxl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-xxl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xxl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-xxl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-xxl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media screen and (min-width: 1600px) {
    .col-uw-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-uw-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-uw-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-uw-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-uw-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-uw-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-uw-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-uw-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-uw-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-uw-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-uw-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-uw-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

footer .container-fluid.sd-f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media only screen and (max-width: 575px) {
    // .th-15 .team-block.pb-none {
    //   padding-bottom: 2.5rem;
    // }

    // .home-11 .container-fluid.sd-f,
    // .homepage-6 .container-fluid.sd-f,
    // .th-15 .container-fluid.sd-f,
    footer .container-fluid.sd-f {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
.first-footer .bloq-email .email input[type="submit"] {
    margin-top: 0px;
}
.portfolio .price-properties:last-child {
    padding-bottom: 0;
}

.homepage-4 img {
    width: 100%;
}
#logo img {
    width: auto;
    max-height: 54px;
    transform: translate3d(0, 0, 0);
}
#header.cloned #logo img {
    transform: translate3d(0, 0, 0);
    max-width: 100%;
    max-height: 54px;
}

.google-map {
    iframe {
        width: 100%;
    }
}

.inner-pages .recent-post .tags {
    flex-wrap: wrap;
    span {
        display: inline-block;
        margin-bottom: 10px;
    }
}

.parallax-searchs.home15.thome-6 {
    height: 100vh;
}
.parallax-searchs.with-description.home15.thome-6 .hero-inner {
    padding-bottom: 40px;
}

header .hd-white a.button.border,
a.button {
    width: auto;
}
.wprt-image-video {
    position: relative;
}

.about-us {
    .wprt-image-video {
        @media screen and (min-width: 1200px) {
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
            & > img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.inner-pages .headings {
    height: auto;
    padding-top: 7.5rem;
    padding-bottom: 4.5rem;

    h1 {
        margin-top: 0;
    }
    h2 {
        margin-bottom: 0;
    }
}
#navigation.style-2.cloned,
#header.cloned.sticky {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
}
#header {
    padding: 4px 0 54px 0;
    &.cloned {
        padding: 4px 0 6px 0;
        #logo img {
            max-height: 44px;
        }
    }
    #logo img {
        width: auto;
        max-height: 44px;
    }
    .header-user-name {
        padding-top: 0px;
        font-size: 13px;
    }

    .header-user-name {
        span {
            // overflow: visible;
            width: 40px;
            height: 40px;
            position: relative;
            top: -7px;
            left: -0px;
            display: inline-block;
        }
        .account-icon {
            // overflow: visible;
            width: 20px;
            height: 20px;
            position: relative;
            top: -0px;
            left: -0px;
            display: inline-block;
            font-size: 20px;
            line-height: 20px;
            text-align: center;
        }
    }
    .mmenu-trigger {
        margin-top: 2px;
        height: 44px;
        width: 45px;
        margin-bottom: 0;
    }
    .hamburger {
        padding: 0;
        top: 11px;
        left: 11px;
    }
    @media screen and (min-width: 768px) {
        // padding: 22px 0 80px 0;
    }
    @media screen and (min-width: 992px) {
        // padding: 22px 0 80px 0;
    }
    @media screen and (min-width: 1025px) {
        padding: 4px 0 50px 0;
        &.cloned {
            padding: 4px 0 4px 0;
            #logo img {
                width: auto;
                max-height: 44px;
            }
        }
        #logo img {
            width: auto;
            max-height: 44px;
        }
        #navigation {
            margin-top: 5px;
        }
        #navigation.style-1 ul a {
            font-size: 14px;
            // text-transform: capitalize;
            line-height: 30px;
            padding: 2px 12px;
        }
        #navigation ul li:hover ul a,
        #navigation ul ul a {
            line-height: 24px !important;
            padding: 4px 15px 4px 8px !important;
            // color: #707070 !important;
        }
        .header-user-name {
            padding-top: 3px;
            font-size: 13px;
            .text-name {
                display: inline !important;
            }

            span {
                position: absolute;
                display: block;
                width: 30px;
                height: 30px;
                top: -5px;
                left: -45px;
            }
            .account-icon {
                // overflow: visible;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 2px;
                left: -30px;
                display: inline;
                font-size: 20px;
                // line-height: 20px;
            }
        }
    }
    @media screen and (min-width: 1200px) {
        padding: 6px 0 54px 0;
        &.cloned {
            padding: 6px 0 6px 0;
            #logo img {
                max-height: 48px;
            }
        }
        #logo img {
            max-height: 48px;
        }
        #navigation {
            margin-top: 8px;
        }
        #navigation.style-1 ul a {
            font-size: 15px;
            // text-transform: capitalize;
            line-height: 30px;
            padding: 3px 12px;
        }
        #navigation ul li:hover ul a,
        #navigation ul ul a {
            line-height: 24px !important;
            padding: 5px 16px 5px 8px !important;
            // color: #707070 !important;
        }
        .header-user-name {
            padding-top: 4px;
            font-size: 14px;
            line-height: 26px;
            span {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                // overflow: visible;
                top: -3px;
                left: -45px;
            }
            .account-icon {
                // overflow: visible;
                width: 26px;
                height: 26px;
                font-size: 24px;
                left: -34px;
            }
        }
    }

    @media screen and (min-width: 1400px) {
        padding: 8px 0 60px 0;
        &.cloned {
            padding: 8px 0 8px 0;
            #logo img {
                max-height: 50px;
            }
        }
        #logo img {
            max-height: 50px;
        }
        #navigation {
            margin-top: 8px;
        }
        #navigation.style-1 ul a {
            font-size: 15px;
            // text-transform: capitalize;
            line-height: 32px;
            padding: 4px 14px;
        }
        #navigation ul li:hover ul a,
        #navigation ul ul a {
            line-height: 26px !important;
            padding: 6px 20px 6px 10px !important;
            // color: #707070 !important;
        }
        .header-user-name {
            padding-top: 5px;
            font-size: 14px;
            .account-icon {
                // overflow: visible;
                // width: 24px;
                // height: 24px;
                font-size: 26px;
                // line-height: 24px;
                top: 6px;
            }
            span {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                // overflow: visible;
                top: -2px;
                left: -48px;
            }
        }
    }
    @media screen and (min-width: 1600px) {
        // padding: 22px 0 80px 0;
    }
    @media screen and (min-width: 1800px) {
        padding: 22px 0 80px 0;
        &.cloned {
            padding: 18px 0 20px 0;
            #logo img {
                max-height: 54px;
            }
        }
        #logo img {
            max-height: 54px;
        }
        #navigation {
            margin-top: 6px;
        }
        #navigation.style-1 ul a {
            font-size: 16px;
            // text-transform: capitalize;
            line-height: 32px;
            padding: 6px 16px;
        }
        #navigation ul li:hover ul a,
        #navigation ul ul a {
            line-height: 27px !important;
            padding: 10px 30px 10px 15px !important;
            // color: #707070 !important;
        }
        .header-user-name {
            padding-top: 7px;
            font-size: 15px;
            .account-icon {
                // overflow: visible;
                // width: 32px;
                // height: 32px;
                // font-size: 28px;
                // line-height: 28px;
                top: 9px;
            }
            span {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                // overflow: visible;
                top: -5px;
                left: -60px;
            }
        }
    }
}
.hp-6 .rld-main-search {
    margin-right: 0;
    height: auto;
    padding-bottom: 15px;
    .btn-yellow {
        margin-bottom: 15px;
    }
    & > .row {
        justify-content: center;
    }
}
.homepage-9.hp-6 .explore__form-checkbox-list.full-filter.filter-block {
    margin-top: 0;
}
.search-advance {
    // padding-right: 15px;
    // padding-left: 15px;
    position: relative;
    margin-top: -18px;
    .explore__form-checkbox-list {
        position: absolute;
        margin-top: 0;
        top: 25px !important;
    }
    &::after {
        display: table;
        content: " ";
        clear: both;
        width: 100%;
    }
}
.parallax-searchs.home15.thome-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    .hero-main {
        width: 100%;
    }
    .hero-inner {
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media screen and (max-width: 768px) {
    .homepage-9.hp-6 .dropdown-filter span {
        margin: 0px 15px 0 15px;
    }
}
@media screen and (max-width: 768px) {
    .homepage-9.hp-6 .explore__form-checkbox-list.full-filter.filter-block {
        margin-top: 0 !important;
    }
}
@media screen and (max-width: 575px) {
    .homepage-9.hp-6 .explore__form-checkbox-list.full-filter.filter-block {
        margin-top: 0 !important;
    }
}

.inner-pages .blog-section .news-item.details {
    margin-bottom: 15px;
    background: #fff;
}
.inner-pages .blog-section .news-item-text.details {
    padding-left: 15px;
    padding-right: 15px;
}

.inner-pages .blog-section .news-item-descr.big-news.details {
    height: auto !important;
    margin-bottom: 0;
}

.parallax-searchs.home15.thome-6.thome-1 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))),
        url(../images/main-bg3.jpg) no-repeat center center !important;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../images/main-bg3.jpg) no-repeat center center !important;
    background-size: cover;
    background-attachment: fixed !important;
}

.services-home {
    .row {
        .col-md-6,
        .col-lg-3 {
            .service {
                @media screen and (min-width: 768px) {
                    height: 100%;
                }
            }
        }
    }
}
.p-top-40 {
    padding-top: 40px;
}

@media screen and (max-width: 992px) {
    .mb-30 {
        margin-bottom: 30px;
    }
}
.pricing-table {
    .plan {
        height: 100%;
        padding-bottom: 90px;
        position: relative;
        .plan-name {
            font-family: "Montserrat", sans-serif;
            text-transform: uppercase;
            display: block;
            font-size: 20px;
            line-height: 1.3;
            font-weight: 700;
            padding: 25px 25px;
            color: #000;
            @media screen and (min-width: 992px) {
                span {
                    display: block;
                }
            }
        }

        ul li {
            padding: 0 25px;
        }

        .btns {
            position: absolute;
            width: 100%;
            bottom: 25px;
            text-align: center;
            a.btn.btn-primary {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
    .mb-30:last-child {
        margin-bottom: 0 !important;
    }
}
.how-it-works {
    padding-bottom: 2.5rem;
    .row .serv {
        margin-bottom: 2rem;
    }
    .serv-flex {
        height: 100%;
    }
}
.featured.portfolio {
    .homes,
    .homes-img {
        z-index: 5;
    }
    .project-single .button-effect {
        z-index: 10;
    }
    .homes-content {
        position: relative;
        .overlink {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            &::after {
                display: block;
                content: " ";
                opacity: 0;
            }
        }
    }
}
@media screen and (max-width: 1199px) {
    .team-block {
        padding-bottom: 2.5rem;
    }
}

.video-container,
.video-responsive {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    iframe,
    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .btn-fullscreen {
        font-size: 30px;
        padding: 5px 15px;
        position: absolute;
        bottom: 0;
        right: 0;
        .closefs{
            display: none;
        }
    }
    @media screen and (max-width: 480px) {
        padding-bottom: 100%;
            
    }
}

.vr-wrapper {
    /* Safari syntax */
    &:-webkit-full-screen {
        .video-container,
        .video-responsive {
            padding-bottom: 56.25%;
            .btn-fullscreen {
                .closefs{
                    display: block;
                }
                .openfs{
                    display: none;
                }
            }
        }
    }

    /* IE11 */
    &:-ms-fullscreen {
        .video-container,
        .video-responsive {
            .btn-fullscreen {
                .closefs{
                    display: block;
                }
                .openfs{
                    display: none;
                }
            }
        }
    }

    /* Standard syntax */
    &:fullscreen {
        .video-container,
        .video-responsive {
            .btn-fullscreen {
                .closefs{
                    display: block;
                }
                .openfs{
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .mb-30 {
        margin-bottom: 30px;
    }
}

#header.unsticky {
    .user-menu.active ul {
        visibility: hidden;
    }
}

.author-widget2{
    a{
        text-decoration: none;
        color: #222;
        i.icon{
            margin-right: 15px;
        }
    }
}